:root {
  --black: #222222;
  --background: #22222294;
  --white: #ffffff;
  --gray-dark: #969696;
  --gray-dark-2: #606060;
  --gray-light: #f0f4f7;
  --gray-light-2: #eeeeee;
  --red: #ed6b5b;
  --blue: #196ff6;
  --blue-light: #8dbaff;
  --font-size-default: 16px;
  font-size: var(--font-size-default);
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v13-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v13-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v13-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/mulish-v13-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* exo-2-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/exo-2-v24-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* exo-2-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/exo-2-v24-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 140%;
  color: var(--black);
}

.wrapper {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 576px) {
  .wrapper {
    padding: 0 15px;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  line-height: 120%;
  color: var(--black);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.5rem;
}

.header {
  width: 100%;
  padding: 25px 0 23px;
}

.header-navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.header-logo {
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 100%;
  margin-right: 94px;
}
@media (max-width: 576px) {
  .header-logo {
    display: none;
  }
}
.header-logo a {
  text-decoration: none;
}
.header-logo a:hover, .header-logo a:active, .header-logo a:focus {
  color: var(--black);
}

.header-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-left: auto;
}
@media (max-width: 576px) {
  .header-location {
    display: none;
  }
}
.header-location:hover svg path {
  fill: var(--black);
  transition: all 0.2s;
}
.header-location a {
  font-size: 0.875rem;
  color: var(--gray-dark-2);
  text-decoration: none;
}
.header-location a:hover, .header-location a:active, .header-location a:focus {
  color: var(--black);
}

.header-separator {
  width: 100%;
  height: 0;
  margin-bottom: 16px;
  border: 1px solid var(--gray-light);
}

.header-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.header-catalog__logo {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--black);
  text-decoration: none;
}
.header-catalog__logo:hover {
  color: var(--black);
}
@media (min-width: 576px) {
  .header-catalog__logo {
    display: none;
  }
}
@media (max-width: 1280px) {
  .header-catalog {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-catalog .catalog-search {
    order: 1;
  }
}
@media (max-width: 1280px) and (max-width: 576px) {
  .header-catalog .catalog-search {
    display: none;
  }
}

.header-account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 40px;
}
@media (max-width: 576px) {
  .header-account {
    display: none;
  }
}

.main {
  padding-top: 24px;
  padding-bottom: 160px;
}

a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black);
  transition: all 0.2s;
}
a:hover {
  color: var(--blue-light);
  transition: all 0.2s;
}
a:active {
  color: var(--blue);
  outline: none;
}
a.error {
  color: var(--red);
}

.account-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 100%;
}
.account-item:hover {
  color: var(--gray-dark);
}
.account-item:hover svg path {
  stroke: var(--gray-dark);
  transition: all 0.2s;
}
.account-item:hover svg circle {
  fill: var(--blue-light);
  transition: all 0.2s;
}
.account-item:active {
  color: var(--gray-dark-2);
}
.account-item:active svg path {
  stroke: var(--gray-dark-2);
  transition: all 0.2s;
}
.account-item:active svg circle {
  fill: var(--blue);
  transition: all 0.2s;
}
.account-item svg path {
  transition: all 0.2s;
}
.account-item svg circle {
  transition: all 0.2s;
}

.header-menu {
  font-size: 0.875rem;
  line-height: 100%;
}
@media (max-width: 576px) {
  .header-menu {
    width: 100%;
  }
}
.header-menu > ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 50px;
}
@media (max-width: 576px) {
  .header-menu > ul {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
}
.header-menu a {
  color: var(--gray-dark-2);
  text-decoration: none;
}
.header-menu a:hover {
  color: var(--black);
}
.header-menu a:active, .header-menu a:focus {
  color: var(--gray-dark);
}

.btn {
  padding: 16px 25px;
  border-radius: 8px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
}
.btn.primary {
  color: var(--white);
  background-color: var(--black);
}
.btn.primary:hover {
  color: var(--gray-light);
  background: var(--gray-dark);
}
.btn.primary:active {
  color: var(--black);
  background: var(--gray-light-2);
}
.btn.secondary {
  color: var(--black);
  border: 2px solid var(--black);
  background-color: transparent;
}
.btn.secondary:hover {
  color: var(--white);
  background: var(--gray-dark);
}
.btn.secondary:active {
  color: var(--white);
  background: var(--black);
}
.btn__catalog {
  font-family: "Exo 2", sans-serif;
  font-size: 1.25rem;
  padding: 13px 26px;
  margin-right: 40px;
  overflow: hidden;
}
.btn__catalog svg {
  margin-right: 15px;
}
.btn__catalog svg rect {
  transition: all 0.2s;
}
.btn__catalog:hover svg rect {
  fill: var(--gray-light);
  transition: all 0.2s;
}
.btn__catalog:active svg rect {
  fill: var(--black);
  transition: all 0.2s;
}
@media (max-width: 576px) {
  .btn__catalog {
    width: 56px;
    padding: 10px 16px;
    margin: 0;
  }
  .btn__catalog span {
    display: none;
  }
}
.btn__search {
  padding: 10px 16px;
  width: 56px;
  height: 43px;
}
.btn__search:hover svg path {
  stroke: var(--gray-light);
  transition: all 0.2s;
}
.btn__search:active svg path {
  stroke: var(--black);
  transition: all 0.2s;
}
@media (min-width: 576px) {
  .btn__search {
    display: none;
  }
}

input[type=text] {
  border: 1px solid var(--gray-light-2);
  border-radius: 8px;
  padding: 10px 16px;
  color: var(--black);
  line-height: 100%;
  background: var(--white);
  transition: all 0.2s;
}
input[type=text]:hover {
  border: 1px solid var(--gray-dark-2);
  transition: all 0.2s;
}
input[type=text]:focus {
  outline: none;
  border: 1px solid var(--blue);
  transition: all 0.2s;
}
input[type=text].error {
  border: 1px solid var(--red);
  transition: all 0.2s;
}
input[type=text].catalog-search {
  max-width: 689px;
  width: 100%;
  padding: 10px 56px 10px 16px;
  margin-right: 36px;
  border: 2px solid var(--gray-light-2);
  background: url("../../img/svg/search.svg") no-repeat center right 13px;
}
input[type=text].catalog-search:hover {
  border: 2px solid var(--gray-dark-2);
  transition: all 0.2s;
}
input[type=text].catalog-search:focus {
  outline: none;
  border: 2px solid var(--blue);
  transition: all 0.2s;
}
@media (max-width: 1280px) {
  input[type=text].catalog-search {
    max-width: 100%;
    margin-right: 0;
  }
}

.breadcrumbs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-bottom: 36px;
  }
}
@media (max-width: 576px) {
  .breadcrumbs {
    display: none;
  }
}
.breadcrumbs__item {
  font-size: 0.875rem;
  line-height: 100%;
  color: var(--gray-dark);
  text-decoration: none;
}
.breadcrumbs__item::after {
  content: "/";
  display: inline-block;
  margin: 0 2px;
  color: var(--gray-dark);
}
.breadcrumbs__item:last-child {
  color: var(--black);
}
.breadcrumbs__item:last-child::after {
  content: "";
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 160px;
}
@media (max-width: 576px) {
  .card {
    margin-bottom: 120px;
    grid-template-columns: 1fr;
  }
}
.card h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  .card h1 {
    font-size: 1.875rem;
  }
}
@media (max-width: 576px) {
  .card h1 {
    font-size: 1.5rem;
  }
}

.slider-container {
  position: relative;
  width: 665px;
  height: 594px;
  overflow: hidden;
  border-radius: 24px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .slider-container {
    width: 595px;
    height: 472px;
  }
}
@media (max-width: 576px) {
  .slider-container {
    width: 330px;
    height: 261px;
  }
}
.slider-container > .slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.slider-container > .slides img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.slider-arrows {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .slider-arrows {
    display: none;
  }
}

.slider-arrow {
  position: relative;
  width: 52px;
  height: 40px;
  padding: 8px 3px;
  cursor: pointer;
}
.slider-arrow svg path {
  transition: all 0.2s;
}
.slider-arrow::after {
  content: "";
  position: absolute;
  top: 52%;
  border-bottom: 2px solid var(--gray-dark);
  width: 0;
  height: 0;
  transition: all 0.2s;
}
.slider-arrow:active svg path {
  stroke: var(--black);
  transition: all 0.2s;
}
.slider-arrow:active::after {
  border-bottom: 2px solid var(--black);
}
.slider-arrow_left::after {
  left: 5px;
}
.slider-arrow_left:hover::after {
  width: 40px;
  transition: all 0.2s;
}
.slider-arrow_right {
  text-align: right;
}
.slider-arrow_right::after {
  right: 5px;
}
.slider-arrow_right:hover::after {
  width: 40px;
  transition: all 0.2s;
}

.slider-pins {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 9px;
  margin-top: 16px;
}
.slider-pins__pin {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--gray-light-2);
  transition: all 0.2s;
  cursor: pointer;
}
@media (min-width: 576px) {
  .slider-pins__pin {
    display: none;
  }
}
.slider-pins__pin:hover {
  background-color: var(--gray-light);
  transition: all 0.2s;
}
.slider-pins__pin:active, .slider-pins__pin.active {
  background-color: var(--black);
  transition: all 0.2s;
}

.card-seller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  .card-seller {
    margin-bottom: 24px;
  }
}
.card-seller__name a {
  font-size: 1.125rem;
}
.card-seller__buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.card-seller__buttons a {
  display: flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 100%;
  background-color: var(--gray-light);
  backdrop-filter: blur(3px);
}
.card-seller__buttons a svg {
  margin: auto;
}
.card-seller__buttons a svg path {
  fill: transparent;
  transition: all 0.2s;
}
.card-seller__buttons a:hover svg path {
  fill: var(--gray-dark);
  stroke: var(--black);
  transition: all 0.2s;
}
.card-seller__buttons a.favorite:active svg path,
.card-seller__buttons a.favorite .active svg path {
  stroke: none;
  fill: var(--red);
}
.card-seller__buttons a.chart:active svg path,
.card-seller__buttons a.chart .active svg path {
  fill: var(--blue);
}

.card-shortinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  column-gap: 30px;
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .card-shortinfo {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
.card-shortinfo__item p:first-child {
  font-weight: 600;
  margin-bottom: 8px;
}

.card-features {
  margin-top: 16px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 576px) {
  .card-features {
    gap: 8px;
  }
}
.card-features__item {
  font-size: 0.875rem;
  line-height: 100%;
  color: var(--gray-dark-2);
  border-radius: 16px;
  padding: 4px 16px;
  background: var(--gray-light-2);
}

.card-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 576px) {
  .card-buttons {
    flex-direction: column;
  }
}

.full-info {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media (max-width: 1280px) {
  .full-info {
    gap: 40px;
  }
}

.full-info-titles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 576px) {
  .full-info-titles {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
  }
}
.full-info-titles__title {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--gray-dark);
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  white-space: nowrap;
}
@media (max-width: 576px) {
  .full-info-titles__title {
    font-size: 1.25rem;
    padding: 12px 24px;
  }
}
.full-info-titles__title.active {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.card-properties {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  height: 465px;
}
@media (max-width: 576px) {
  .card-properties {
    height: auto;
  }
}
.card-properties__property {
  width: clamp(100px, 33% - 15px, 433px);
  margin-right: 30px;
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .card-properties__property {
    margin-bottom: 16px;
  }
}
.card-properties__property p:first-child {
  font-weight: 600;
  margin-bottom: 8px;
}

.card-plans {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100wv;
  margin-top: 52px;
}
@media (max-width: 576px) {
  .card-plans {
    flex-direction: column;
    margin-top: 24px;
  }
}
.card-plans img {
  width: calc(50% - 20px);
}
@media (max-width: 576px) {
  .card-plans img {
    width: fit-content;
  }
}/*# sourceMappingURL=style.css.map */