.header-menu {
    font-size: 0.875rem;
    line-height: 100%;

    @include sm-down {
        width: 100%;
    }

    & > ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 50px;

        @include sm-down {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }
    }


    a {
        color: $gray-dark-2;
        text-decoration: none;

        &:hover {
            color: $black;
        }

        &:active,
        &:focus {
            color: $gray-dark;
        }
    }
}